<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.DepartmentMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO department (name, description, cover, sort_order, status, create_time)
        VALUES (#{name}, #{description}, #{cover}, #{sortOrder}, #{status}, #{createTime})
    </insert>
    <update id="update">
        UPDATE department
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="batchDelete">
        DELETE FROM department WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <select id="queryAll" resultType="cn.kmbeast.pojo.entity.Department">
        SELECT * FROM department WHERE status = 1 ORDER BY sort_order ASC
    </select>
    <select id="getById" resultType="cn.kmbeast.pojo.entity.Department">
        SELECT * FROM department WHERE id = #{id}
    </select>
</mapper>
