<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.UserRoleMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_role (user_id, role_id, create_time) VALUES (#{userId}, #{roleId}, #{createTime})
    </insert>
    <delete id="deleteByUserId">DELETE FROM user_role WHERE user_id = #{userId}</delete>
    <delete id="deleteByUserAndRole">DELETE FROM user_role WHERE user_id = #{userId} AND role_id = #{roleId}</delete>
</mapper>
